
html{
    font-size: 100%;
    box-sizing: border-box;
}

/* for testing 
* {
    outline: 2px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

.left-logo {
    display: flex;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    margin-left: 100px;
    padding-left: 0;

}

.right-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    padding-left: 0;
    margin-right: 120px;
}

li {
    padding-right: 30px;
}

.right-links, a {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

/* Hero style*/
 .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 20%;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 170px;
    padding-left: 60px;
 }


 .hero, h1 {
     margin-top: 0;
     margin-bottom: 0;
     font-size: 48px;
     color: #f9faf8;
 }

 .hero, p {font-size: 18px; color: #E5E7EB;}
 .hero__text {
     display: flex;
     flex-direction: column;
     max-width: 400px;
 }

 .hero__image {
     display: flex;
     align-items: center;
     justify-content: center;
 }

.hero__image img {
    max-width: 400px;
    border-radius: 5px;
 }

 /* Button hero*/

 .button_hero {
     display: inline-block;
     padding: 0.875rem 2.1875rem;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     font-weight: 400;
     font-size: 14px;
     overflow: hidden;
     background-color: #3882f6;
     margin-bottom: 18px;
     text-align: center;

     margin-right: 133px;
     width: 90px;
 
     
 }

 .hero__text_two {
     color: #1F2937;
     text-align: center;
 }

 .hero__text_two, h2 {
     font-size: 36px;
     margin-bottom: 0px;
     font-weight: bold;
 }





 .content-card {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 0px;
     padding-top: 40px;
     padding-right: 100px;
     padding-left: 100px;
     padding-bottom: 150px;
 }

 .card {
     width: 200px;
     height: 150px;
     padding-bottom: 100px;
     margin-right: 60px;
 }

 .card:last-child {
     padding-right: 0px;
 }

 .card img {
     max-width: 100%;
     border: 4px #3882f6 solid;
     border-radius: 5%;
 }

 

 .card .text {
     border: 0;
     font-size: 18px;
     margin-left: 8px;
 }

 .card .text p {
     color: #1F2937;
     text-align: center;

 }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-right: 400px;
    padding-bottom: 100px;
    padding-left: 400px;
    flex-direction: column;
    background-color: #E5E7EB;
    flex-shrink: 0;

}

.content p {
    font-size: 36px;
    font-family: 'light italica';
    color: #1F2937;
    margin-bottom: 0;
    text-align: left;
}

.content h3 {
    text-align: right;
    color: #1F2937;
    text-align: right;
    margin-left: 0;

}

.content-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 300px;
    padding-left: 300px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 45px 50px;
    border-radius: 8px;
    flex-shrink: 0;
}

.left h2 {
    margin-top: 0px;
    color: #f9faf8;
}

.left p {
    margin-bottom: 0px;
    color: #f9faf8;

}

.left {
    margin-right: 50px;
    max-width: 410px;

}

.right .button_hero {
    border: 3px #E5E7EB solid;
}

.right a {
    margin: 0;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 250px;
    background-color: #1F2937;
    color: #E5E7EB;
}

